/*  your css code here. If applicable */
.Test{
	background-color: #f5f5f5;
	padding:20px;
}
.para-1{
	background-color:white;
	padding:20px;
}
.p{
	text-align:right;
}
.para-2{
	margin-bottom:40px;
	background-color:white;
	padding:20px;
}
.footer{
	right:50px;
	top:160px;
	position:absolute;
	text-style:italic;
}
.footer-2{
	position:absolute;
	top:260px;
	right:50px;
}